body{
  font-family: 'Times New Roman', Times, serif !important ;
}
header {
    display:block;

    background: url(/assets/banners/descarga.jpeg) !important;
    padding:10px 0px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
   
  }
  @media only screen and (min-width: 1260px) {
    .carousel{
        background-color: white !important;
    }   
    .carousel-inner  {
    padding: 0 20px;
  }
  .w3-card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80% !important;
    height: 350px;
  }
  .carousel-inner img {
    width: 100%;
    height: 550px;
   
  }
}
header {
	background: url('/assets/banners/descarga.jpeg');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header {
	width: 100%;
	height: 100%;
}
.w3-card{
    background-color: gainsboro;
}
.w3-light-grey{
    background-image: linear-gradient( 135deg, #3eebebc2 5%, #32cfc77a 100%);
	color: white !important;
}
.w3-twothird{
    padding-bottom: 20px !important;
}

.w3-twothird img{
  max-width: 600px;
}
/* pruebas */
.overlay {
  position: relative;
  width: 100%; /* for IE 6 */
  }
  .fondo{
    object-fit: cover;
    max-height: 450px;
    width: 100%;
  }
  .w3-circle{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  width: 100%;
  }
  .derecha{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  width: 100%;
  }
 
  h1 {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  }
  h1 span {
    color: white;
   /*  font: bold 45px Helvetica, Sans-Serif; */
   font-size: 45px;
   font-weight: bold;
    letter-spacing: -1px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
   
    }

    @media (min-width: 1260px) { 
      h1 {
        position: absolute;
        top: 200px;
        left: 0;
        width: 100%;
        }
        h1 span {
          color: white;
          letter-spacing: -1px;
          background: rgba(0, 0, 0, 0.7);
          border-radius: 20px;
          padding: 10px;
          }
    }
    .bg-secondary{
      background: rgba(0, 0, 0, 0.7) !important;
    }
    .efect:hover{
      transform: scale(1.25);
    transition: all .5s;
    }
    .efect{
      transition: all .5s;
    }

    